*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-image: linear-gradient(to right,#c877fd,#8744fd) ;
}

header{
  font-size: 1.5rem;
  color: white;
}

header,form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 2rem;
  background-color: whitesmoke;
  border: none;
}

form button{
  color: #a7c957;
  background-color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease-in ;
}

form button:hover{
  background: #a7c957 ;
  color: whitesmoke;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
}

.todo{
  margin: 0.5rem;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li{
  flex: 1;
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash,.fa-check{
  pointer-events:  none;
}


.completed{
  text-decoration: line-through;
  opacity: 0.3;
}

.fall{
  transform:  translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.complete-btn{
  background:  #bc4749;
  color: whitesmoke;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn{
  background-color: #6a994e ;
  color: whitesmoke;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
